* {
    margin: 0;
    padding: 0;
}

@import './Layout/variable.scss';
@import './Mobile/responsive.scss';
@import './Action/actionsType.scss';
body {
    font-family: $Montserrat;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

p {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import 'page/home/index.scss';
@import 'page/about/index.scss';
@import 'page/contact/index.scss';
@import 'page/project/index.scss';