@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
* {
  margin: 0;
  padding: 0; }

.changeIconBar {
  display: none; }
  .changeIconBar .bar1 {
    transform: rotate(-45deg) translate(-7px, 6px); }
  .changeIconBar .bar2 {
    opacity: 0; }
  .changeIconBar .bar3 {
    transform: rotate(45deg) translate(-7px, -7px); }

.addBlock {
  display: block; }

body {
  font-family: "Montserrat", sans-serif; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

p {
  margin: 0;
  padding: 0; }

a:hover {
  text-decoration: none; }

.header .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  position: relative;
  width: 80%;
  margin: auto; }
  @media (max-width: 768px) {
    .header .menu {
      padding: 2rem;
      width: 100%; } }
  .header .menu .mainMenu {
    flex: 1; }
    .header .menu .mainMenu ul {
      display: flex;
      justify-content: flex-end; }
      .header .menu .mainMenu ul li a {
        padding-left: 76px;
        color: #000; }
        @media (max-width: 768px) {
          .header .menu .mainMenu ul li a {
            padding: 0 38px; } }
      .header .menu .mainMenu ul .active a {
        color: #10c9c3; }
  @media (max-width: 768px) {
    .header .menu .mainMenu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 999;
      background-color: #fff; }
      .header .menu .mainMenu ul {
        flex-direction: column;
        text-align: center;
        background-color: #fff;
        padding-bottom: 2rem; }
        .header .menu .mainMenu ul li {
          padding: 1em;
          width: 50%;
          border-bottom: 1px solid #333;
          margin: 0 auto; } }
  .header .menu .iconBar {
    display: none; }
    @media (max-width: 768px) {
      .header .menu .iconBar {
        display: block; }
        .header .menu .iconBar .bar1,
        .header .menu .iconBar .bar2,
        .header .menu .iconBar .bar3 {
          width: 1.8rem;
          height: 0.25rem;
          background-color: #000;
          margin: 6px 0;
          transition: 0.5s; } }

.contentHome {
  background-color: #f6f6f6; }
  .contentHome .titleHome {
    text-align: center;
    padding-top: 100px; }
    .contentHome .titleHome h1 {
      font-weight: bold;
      font-size: 2.5rem;
      padding-bottom: 40px; }
    .contentHome .titleHome p {
      color: #787878;
      font-family: "Nunito", sans-serif; }
  .contentHome .colHome {
    margin-top: 65px; }
    .contentHome .colHome .imgHome {
      position: relative; }
      .contentHome .colHome .imgHome .overlayHome {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(33, 191, 185, 0);
        transition: 0.5s; }
        .contentHome .colHome .imgHome .overlayHome i {
          font-size: 2rem;
          color: #fff;
          opacity: 0;
          transition: 1s; }
      .contentHome .colHome .imgHome:hover .overlayHome {
        background-color: rgba(33, 191, 185, 0.5); }
        .contentHome .colHome .imgHome:hover .overlayHome i {
          opacity: 1; }

.footer {
  padding-top: 95px;
  padding-bottom: 100px;
  background-color: #141414;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  line-height: 2rem; }
  .footer h2 {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 1rem; }
  @media (max-width: 768px) {
    .footer .contentFooter .alFooter {
      text-align: center; } }

.banner {
  padding: 122px 0;
  background-color: #3e3e3e;
  color: #fff; }
  .banner .titleBanner {
    text-align: center; }
    .banner .titleBanner h1 {
      font-size: 2.5rem;
      font-weight: bold;
      padding-bottom: 40px;
      white-space: nowrap; }
    .banner .titleBanner p {
      font-family: "Nunito", sans-serif; }

.section1 {
  background-color: #10c9c3;
  color: #fff; }
  .section1 .icon {
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem; }
    .section1 .icon i {
      font-size: 2.5rem;
      padding-right: 2rem; }

.section2 .contentSextion2 {
  padding-top: 140px;
  padding-left: 90px;
  width: 50%; }
  @media (max-width: 768px) {
    .section2 .contentSextion2 {
      width: 100%;
      padding: 1rem; } }
  .section2 .contentSextion2 h1 {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 2rem; }
  .section2 .contentSextion2 p {
    font-family: "Nunito", sans-serif;
    padding-bottom: 1.5rem;
    color: #787878;
    line-height: 1.2rem; }

.section3 .contentSection3 {
  text-align: center;
  padding: 100px 0; }
  .section3 .contentSection3 h1 {
    font-size: 1.5rem;
    padding-bottom: 40px;
    font-weight: bold; }
  .section3 .contentSection3 p {
    font-family: "Nunito", sans-serif;
    padding-bottom: 40px; }
  .section3 .contentSection3 a {
    padding: 25px 50px;
    background-color: #10c9c3;
    display: inline-block;
    color: white; }

.contentContact {
  padding: 100px 0;
  background-color: #f5f5f5;
  font-family: "Nunito", sans-serif; }
  .contentContact .infoContact {
    width: 50%; }
    @media (max-width: 768px) {
      .contentContact .infoContact {
        width: 100%;
        text-align: center; } }
    .contentContact .infoContact h1 {
      font-size: 2rem;
      padding-bottom: 2rem;
      font-weight: bold; }
    .contentContact .infoContact p,
    .contentContact .infoContact span {
      font-size: 1rem;
      color: #787878;
      padding-bottom: 40px; }
    .contentContact .infoContact ul li {
      padding-bottom: 25px; }
  .contentContact .formContact a {
    display: inline-block;
    padding: 20px 35px;
    background-color: #10c9c3;
    color: #fff;
    text-align: center; }
    @media (max-width: 768px) {
      .contentContact .formContact a {
        width: 100%; } }
  .contentContact .formContact input,
  .contentContact .formContact textarea {
    width: 100%;
    border: none;
    padding-left: 1rem;
    margin-bottom: 2rem; }
  .contentContact .formContact input {
    height: 2.5rem; }
  .contentContact .formContact textarea {
    height: 170px;
    line-height: 170px; }
  .contentContact .map {
    padding-top: 100px; }

.bannerProject {
  background-color: #f6f6f6; }
  .bannerProject .contentProject {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 100px; }
    .bannerProject .contentProject h1 {
      font-size: 2rem;
      font-weight: bold;
      padding: 100px 0 40px 0; }
    .bannerProject .contentProject p {
      font-family: "Nunito", sans-serif;
      font-size: 1rem;
      color: #aaaaaa;
      padding-bottom: 40px;
      line-height: 1.2rem; }
    .bannerProject .contentProject ul li {
      font-family: "Nunito", sans-serif; }
      .bannerProject .contentProject ul li span {
        color: #787878; }

.carosel {
  padding: 2.5rem 0; }
  .carosel .flexCarousel {
    display: flex;
    justify-content: space-between; }
    .carosel .flexCarousel .previos i {
      padding-right: 1rem; }
    .carosel .flexCarousel .next i {
      padding-left: 1rem; }

/*# sourceMappingURL=main.css.map */
