@mixin titleBanner($titleBanner) {
    .#{$titleBanner} {
        text-align: center;
        h1 {
            font-size: 2.5rem;
            font-weight: bold;
            padding-bottom: 40px;
            white-space: nowrap;
        }
        p {
            font-family: $nunito;
        }
    }
}

@mixin banner($banner) {
    .#{$banner} {
        padding: 122px 0;
        background-color: $colorGrayBanner;
        color: $colorWhite;
        @include titleBanner('titleBanner');
    }
}

@include banner('banner');