@mixin contentSection3($contentSection3) {
    .#{$contentSection3} {
        text-align: center;
        padding: 100px 0;
        h1 {
            font-size: 1.5rem;
            padding-bottom: 40px;
            font-weight: bold;
        }
        p {
            font-family: $nunito;
            padding-bottom: 40px;
        }
        a {
            padding: 25px 50px;
            background-color: $colorCyan;
            display: inline-block;
            color: white;
        }
    }
}

@mixin section3($section3) {
    .#{$section3} {
        @include contentSection3('contentSection3');
    }
}

@include section3('section3');