@mixin contentSextion2($contentSextion2) {
    .#{$contentSextion2} {
        padding-top: 140px;
        padding-left: 90px;
        width: 50%;
        @include mobile {
            width: 100%;
            padding: 1rem;
        }
        h1 {
            font-weight: bold;
            font-size: 1.5rem;
            padding-bottom: 2rem;
        }
        p {
            font-family: $nunito;
            padding-bottom: 1.5rem;
            color: $colorGray;
            line-height: 1.2rem;
        }
    }
}

@mixin section2($section2) {
    .#{$section2} {
        @include contentSextion2('contentSextion2');
    }
}

@include section2('section2');