@mixin icon($icon) {
    .#{$icon} {
        display: flex;
        padding-top: 4rem;
        padding-bottom: 4rem;
        i {
            font-size: 2.5rem;
            padding-right: 2rem;
        }
    }
}

@mixin section1($section1) {
    .#{$section1} {
        background-color: $colorCyan;
        color: $colorWhite;
        @include icon('icon');
    }
}

@include section1('section1');