@mixin titleHome($titleHome) {
    .#{$titleHome} {
        text-align: center;
        padding-top: 100px;
        h1 {
            font-weight: bold;
            font-size: 2.5rem;
            padding-bottom: 40px;
        }
        p {
            color: $colorGray;
            font-family: $nunito;
        }
    }
}

@mixin colHome($colHome, $imgHome, $overlayHome) {
    .#{$colHome} {
        margin-top: 65px;
        .#{$imgHome} {
            position: relative;
            .#{$overlayHome} {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(33, 191, 185, 0);
                transition: 0.5s;
                i {
                    font-size: 2rem;
                    color: $colorWhite;
                    opacity: 0;
                    transition: 1s;
                }
            }
            &:hover {
                .#{$overlayHome} {
                    background-color: rgba(33, 191, 185, 0.5);
                    i {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@mixin contentHome($contentHome) {
    .#{$contentHome} {
        background-color: $colorGrayLight;
        @include titleHome('titleHome');
        @include colHome('colHome', 'imgHome', 'overlayHome');
    }
}

@include contentHome('contentHome');