@mixin alFooter($alFooter) {
    .#{$alFooter} {
        @include mobile {
            text-align: center;
        }
    }
}

@mixin contentFooter($contentFooter) {
    .#{$contentFooter} {
        @include alFooter('alFooter');
    }
}

@mixin footer($footer) {
    .#{$footer} {
        padding-top: 95px;
        padding-bottom: 100px;
        background-color: $colorBlackFooter;
        color: $colorWhite;
        font-family: $Montserrat;
        line-height: 2rem;
        h2 {
            margin-bottom: 30px;
            font-weight: bold;
            font-size: 1rem;
        }
        @include contentFooter('contentFooter');
    }
}

@include footer('footer');