// @import './variable.scss';
@mixin mainMenu($mainMenu, $active) {
    .#{$mainMenu} {
        flex: 1;
        ul {
            display: flex;
            justify-content: flex-end;
            li {
                a {
                    padding-left: 76px;
                    color: $colorBlack;
                    @include mobile {
                        padding: 0 38px;
                    }
                }
            }
            .#{$active} {
                a {
                    color: $colorCyan;
                }
            }
        }
    }
    @include mobile {
        .#{$mainMenu} {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 999;
            background-color: $colorWhite;
            ul {
                flex-direction: column;
                text-align: center;
                background-color: $colorWhite;
                padding-bottom: 2rem;
                li {
                    padding: 1em;
                    width: 50%;
                    border-bottom: 1px solid #333;
                    margin: 0 auto;
                }
            }
        }
    }
}

@mixin iconBar($iconBar, $bar1, $bar2, $bar3) {
    .#{$iconBar} {
        display: none;
        @include mobile {
            display: block;
            .#{bar1},
            .#{bar2},
            .#{bar3} {
                width: 1.8rem;
                height: 0.25rem;
                background-color: $colorBlack;
                margin: 6px 0;
                transition: 0.5s;
            }
        }
    }
}

@mixin menu($menu) {
    .#{$menu} {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0;
        position: relative;
        width: 80%;
        margin: auto;
        @include mobile {
            padding: 2rem;
            width: 100%;
        }
        @include mainMenu("mainMenu", "active");
        @include iconBar('iconBar', 'bar1', 'bar2', 'bar3');
    }
}

@mixin header($header) {
    .#{$header} {
        @include menu("menu");
    }
}

@include header("header");