@mixin contentProject($contentProject) {
    .#{$contentProject} {
        width: 60%;
        margin: 0 auto;
        padding-bottom: 100px;
        h1 {
            font-size: 2rem;
            font-weight: bold;
            padding: 100px 0 40px 0;
        }
        p {
            font-family: $nunito;
            font-size: 1rem;
            color: $colorTextProject;
            padding-bottom: 40px;
            line-height: 1.2rem;
        }
        ul {
            li {
                font-family: $nunito;
                span {
                    color: $colorGray;
                }
            }
        }
    }
}

@mixin bannerProject($bannerProject) {
    .#{$bannerProject} {
        background-color: $colorGrayLight;
        @include contentProject('contentProject');
    }
}

@include bannerProject('bannerProject');