@mixin pdIcon($previos, $next) {
    .#{$previos} {
        i {
            padding-right: 1rem;
        }
    }
    .#{$next} {
        i {
            padding-left: 1rem;
        }
    }
}

@mixin flexCarousel($flexCarousel) {
    .#{$flexCarousel} {
        display: flex;
        justify-content: space-between;
        @include pdIcon('previos', 'next');
    }
}

@mixin carosel($carosel) {
    .#{$carosel} {
        padding: 2.5rem 0;
        @include flexCarousel('flexCarousel');
    }
}

@include carosel('carosel');