@mixin infoContact($infoContact) {
    .#{$infoContact} {
        width: 50%;
        @include mobile {
            width: 100%;
            text-align: center;
        }
        h1 {
            font-size: 2rem;
            padding-bottom: 2rem;
            font-weight: bold;
        }
        p,
        span {
            font-size: 1rem;
            color: $colorGray;
            padding-bottom: 40px;
        }
        ul {
            li {
                padding-bottom: 25px;
            }
        }
    }
}

@mixin formContact($formContact) {
    .#{$formContact} {
        a {
            display: inline-block;
            padding: 20px 35px;
            background-color: $colorCyan;
            color: $colorWhite;
            text-align: center;
            @include mobile {
                width: 100%;
            }
        }
        input,
        textarea {
            width: 100%;
            border: none;
            padding-left: 1rem;
            margin-bottom: 2rem;
        }
        input {
            height: 2.5rem;
        }
        textarea {
            height: 170px;
            line-height: 170px;
        }
    }
}

@mixin map($map) {
    .#{$map} {
        padding-top: 100px;
    }
}

@mixin contentContact($contentContact) {
    .#{$contentContact} {
        padding: 100px 0;
        background-color: $colorGrayContact;
        font-family: $nunito;
        @include infoContact('infoContact');
        @include formContact('formContact');
        @include map('map');
    }
}

@include contentContact('contentContact');