@mixin changeIconBar($iconBar, $bar1, $bar2, $bar3) {
    .#{$iconBar} {
        display: none;
        .#{bar1} {
            transform: rotate(-45deg) translate(-7px, 6px);
        }
        .#{bar2} {
            opacity: 0;
        }
        .#{bar3} {
            transform: rotate(45deg) translate(-7px, -7px);
        }
    }
}

@include changeIconBar('changeIconBar', 'bar1', 'bar2', 'bar3');
@mixin addBlock($addBlock) {
    .#{$addBlock} {
        display: block;
    }
}

@include addBlock('addBlock');